:root {
    --tg-theme-bg-color: #FFFFFF;
    --tg-theme-secondary-bg-color: #efefef;
    --tg-theme-text-color: #000000;
    --tg-theme-button-color: #007bff;
    --tg-theme-button-text-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--tg-theme-bg-color);
    user-select: none;
}

.frame-container {
    width: 100%;
    height: 100%;
    background-color: var(--tg-theme-bg-color);
}

.page-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--tg-theme-bg-color);
}

.container-scroll-h {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.container-scroll-h::-webkit-scrollbar { 
    display: none;
}

.container-flex-space-between {
    display: flex; 
    justify-content: space-between;
    width: 100%;
}

.container-item-flex-equal {
    flex: 1;
}

.image {
    background-size: cover; 
    background-position: center;
}

.image-rounded {
    border-radius: 30%;   
}

.image-small {
    width: 60px;
    height: 60px;
}

.image-app-details-container {
    position: relative;
    width: 100%;
    padding-top: calc(360 / 640 * 100%); /* 56.25% */
}

.image-app-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-app {
    display: flex;
    align-items: center;
    padding: 10px;
}

.item-app-content {
    flex: 1;
}

.button-action-primary {
    padding: 10px 20px;
    border: 2px solid var(--tg-theme-button-color);
    border-radius: 25px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    font-size: 16px;
    cursor: pointer; 
    outline: none;
}

.button-action-primary:hover {
    filter: brightness(85%);
}

.button-action-primary:focus{
    border-color:transparent!important;
    outline:none;
}

.button-action-secondary {
    padding: 10px 20px;
    border: 2px solid var(--tg-theme-button-color);
    border-radius: 25px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-button-color);
    font-size: 16px;
    cursor: pointer; 
    outline: none;
}

.button-action-secondary:hover {
    filter: brightness(85%);
}

.button-action-secondary:focus{
    outline:none;
}

.text-headline-large {
    font-size: 32px;
    font-weight: 400;
    color: var(--tg-theme-text-color);
}

.text-headline-medium {
    font-size: 28px;
    font-weight: 500;
    color: var(--tg-theme-text-color);
}


.text-headline-small {
    font-size: 24px;
    font-weight: 500;
    color: var(--tg-theme-text-color);
}

.text-title-large {
    font-size: 22px;
    font-weight: 400;
    color: var(--tg-theme-text-color);
}

.text-title-medium {
    font-size: 16px;
    font-weight: 500;
    color: var(--tg-theme-text-color);
}


.text-title-small {
    font-size: 14px;
    font-weight: 500;
    color: var(--tg-theme-text-color);
}

.text-body-large {
    font-size: 16px;
    font-weight: 400;
    color: var(--tg-theme-text-color);
}

.text-body-medium {
    font-size: 14px;
    font-weight: 400;
    color: var(--tg-theme-text-color);
}

.text-body-small {
    font-size: 12px;
    font-weight: 400;
    color: var(--tg-theme-text-color);
}